.App {
  text-align: center;
}

.calculator {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.container {
  width: 400px;
  border: 1px;
}

.returnSection {
  background-color: #8b8b8b;
  text-align: right;
  padding: 10px;
  color: #fff;
}

.digits {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.digits-elts {
  border: 1px solid #dbdbdb;
  cursor: pointer;
  padding: 10px;
}

.digits-elts:hover {
  background-color: #e7e7e7;
}

.operator {
  background-color: #eca95c;
}

.operator:hover {
  background-color: #ce8e46;
}

.end {
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cfcfcf;
}

.navLinks {
  display: flex;
  justify-content: end;
}

#nav {
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.active-link {
  color: blue;
}

.quotes {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}
