@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  transition: 0.5s;
  background-color: blanchedalmond;
}

.btn {
  width: 100%;
  font-family: poppins, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  cursor: pointer;
}

.container {
  background-color: #a1a1a7;
  width: 40%;
  border-radius: 0.5rem;
  margin-right: 6rem;
}

.app {
  width: 100%;
}

#root {
  width: 100%;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  height: 20rem;
}

.zero {
  grid-area: 5/1/5/3;
}

.output {
  font-family: poppins, sans-serif;
  display: flex;
  flex-direction: row-reverse;
  font-size: 2rem;
  color: white;
  height: 4rem;
  padding-right: 0.5rem;
}

.side {
  background: #f5913e;
  border-radius: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0 0 0/55%);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: rgb(0, 0, 0);
  transition: 0.3s;
  color: rgb(230, 230, 230);
}

.links {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
}

.title,
.home-title,
.link,
.quote {
  font-family: poppins, sans-serif;
}

.link-item {
  list-style: none;
}

.link {
  text-decoration: none;
  color: #f5913e;
}

.link:hover {
  color: lightslategray;
}

.title {
  opacity: 0.9;
  margin-left: 3rem;
}

.home-section {
  padding: 8rem 4rem;
}

.home-content1,
.home-content2 {
  font-family: poppins, sans-serif;
  margin-top: 1rem;
  font-size: 0.9rem;
  opacity: 0.9;
}

.home-title {
  opacity: 0.9;
}

.calculator-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 3rem 4rem;
}

.quote {
  text-align: center;
}

.selected {
  color: rgb(245, 245, 245);
}
